/* global styles */
body {
  font-family: "Optima", sans-serif;
  background: #bbb url(../images/land/field_grass.jpg) no-repeat;
  background-size: 100%;
  opacity: 0.9 ;
  margin: 0;
  padding: 0;

}

p, h1, h2, h3, h4, h5, h6, li {
  margin: 1ex 1em;

}

table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  text-align: left;
}

tr, td {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

/* outer table */

#outerTable {
  margin: 0 auto;
  width: 770px;
  /*height: 70px;*/
  background: #fff;
  border: 2px solid #B2E0C2;

}
#outerTable a:link,
#outerTable a:visited {
  text-decoration: none;
  color: #435549
}

#outerTable a:hover {
  color: #B2E0C2;
  border-bottom: 1px dashed #B2E0C2;

}

#outerTable#header div {
  margin: 0 0 800 0px;
  padding: 2px;
}
}
/* contact button */

td#contactButton {
  height: 30px;
  width: 440px;
  margin-left: 450px;
  position: absolute;
}

#contactButton div {
  height: 30px;
  margin: 0 0 0 800px;
  padding: 2px;
}

#contactButton img {
  margin: 0;
  border: none;
  border-radius: 3px;
}

/* mainMenu */

td#mainMenu {
  height: 45px;
  vertical-align: bottom;
  border-bottom: 2px solid #B2E0C2;
  font-family: "Optima", sans-serif;
}

#mainMenu div {
  height: 30px;
  margin: 0 0 0 550px;
  padding: 0;

}

#mainMenu a {
  margin: 0 10px;
  text-decoration: none;
  color: #666;
  font-size: 18px;
}
 td#header{
  height: 30px;
  width: 440px;
  float: right;
  margin-right: 450px;
  position: absolute;
  font-family: "Candara", sans-serif;
  color: #708D7A;

 }
/* main Content (left column) */

td#contentLeft {
  background-color: #fff;
  width: 605px;
  border-top: 2px solid #B2E0C2;
}

div#mainContent {
  padding: 0 15px;
  margin: 0;
}

#mainContent p {
  font-family: "Optima", sans-serif;
  font-size: .9em;
  line-height: 1.4em;
  margin-left: 0;
  color: #666;
  text-align: justify;
}

#mainContent h1 {
  font-family: "Candara", sans-serif;
  color: #708D7A;
  font-size: 1.6em;
  font-weight: bold;
  margin: .4em 0 .4em 0;
}
#mainContent h2, #mainContent h3, #mainContent h4, #mainContent h5, #mainContent h6 {
  font-family: "Candara", sans-serif;
  color: #708D7A;
  font-weight: bold;
  margin: .4em 0 .4em 0;
}

#mainContent p.leftMenu {
  font-family: "Candara", sans-serif;
  margin-bottom: 1.5ex;

}


/* sideBar(right column) */

td#contentRight{
  background: #fff;
  width: 285px;
  border-top: 2px solid #B2E0C2;
}

div#sideBar{
  padding: 0 10px;
  border-left: 1px solid #708D7A;
}

#contentRight p, ul, li {
  font-family: "Optima", sans-serif;
  font-size: .9em;
  line-height: 1.2em;
  color: #666;
  margin: 0 0 3ex 0;
}

#contentRight h3{
  font-family: "Candara", sans-serif;
  font-size: 1em;
  color: #708D7A;
  margin: 1ex 0 .5ex 0;
}

#contentRight h4, h5 {
  font-family: "Candara", sans-serif;
  color: #708D7A;
  margin: 1ex 0 .5ex 0;

}


/* footer */

p#footer {
  font-family: "Optima", sans-serif;
  font-size: .75em;
  color: #fff;
  text-align: center;
}

#footer a {
   color: #708D7A;
   text-decoration: none;
}
/* positioning images */
td#images{
  width: 890px;
}
.left {
float: left;
margin: 4px;
margin-bottom: 7px;
border: 1px solid #708D7A;
border-radius: 3px;
}
  



































